html,
body, ul {
  box-sizing: border-box;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  color: var(--default);;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

